*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
    min-height: 100%;

}

.pix{
  margin-bottom: 0.5rem;
}


.bar{
  text-color: white;
}

.mt-5{
  background: lightgoldenrodyellow;
  background-image: url(https://i.pinimg.com/236x/41/63/f3/4163f3e948f7402f78260513e3e35bdf.jpg);


}

.text-center{
  background: lightgoldenrodyellow;
  background-image: url(https://i.pinimg.com/236x/41/63/f3/4163f3e948f7402f78260513e3e35bdf.jpg);
  object-fit: cover;
  color: white;
background-size:cover 


}
.mt-3 {
  background: black;
  background-image: url(https://images.creativemarket.com/0.1.0/ps/4159952/1820/1213/m1/fpnw/wm1/fliqnjc5kjgfbgw8l8pyxwkj0mw99e3r5dqsgf4v4kpjes1jiwnx7ruatcktmb4m-.jpg?1521515461&s=857c39702bd022c65bf52c4a4520f84e)

}

.p-5{
  background: black;
  background-image: url(https://img.freepik.com/free-photo/swirling-blue-purple-smoke-vape_116124-259.jpg?w=360);
background-size:cover;
  color: white; 

}

.tt{
  color: white;
  text-align: center;
  font-family: cursive;
}

.pp{
    background-image: url(https://images.creativemarket.com/0.1.0/ps/4159952/1820/1213/m1/fpnw/wm1/fliqnjc5kjgfbgw8l8pyxwkj0mw99e3r5dqsgf4v4kpjes1jiwnx7ruatcktmb4m-.jpg?1521515461&s=857c39702bd022c65bf52c4a4520f84e);
    background-size:cover;
    color: white;
   
}
.cardHighlight p-3{
  background: black;
}

.input-group-text{
  width: 10%;
}

.ww{
  width: 50%;
  height: 20;
}